<!-- edit-profile.ejs -->
<div class="container mt-4" style="max-width: 600px;">
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="fas fa-exclamation-circle me-2"></i>
            <div><%- error %></div>
        </div>
    <% } %>
    <% if (typeof success !== 'undefined' && success) { %>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="fas fa-check-circle me-2"></i>
            <div><%- success %></div>
        </div>
    <% } %>

    <div class="bg-light-grey card border-0 shadow-sm" style="border-radius: 0.5rem; padding: 2rem;">
        <div class="card-body">
            <!-- Back Button -->
            <a href="<%= req.get('referrer') %>" class="btn btn-outline-dark btn-smaller mb-3"><i class="fas fa-arrow-left"></i> Back</a>
            <h1 class="card-title display-5">Edit Profile</h1>
            <form action="/update-profile" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="userName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="userName" name="name" placeholder="Name" value="<%= user.name %>" style="border-radius: 0.25rem;">
                    <div class="invalid-feedback">
                        Please provide a name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="userEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="userEmail" name="email" required placeholder="Email" value="<%= user.email %>" style="border-radius: 0.25rem;">
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="userPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="userPassword" name="password" placeholder="Enter new password" style="border-radius: 0.25rem;">
                    <small class="form-text text-muted">Leave blank if you do not want to change the password.</small>
                </div>

                <!-- 2FA -->
                <div class="mb-3">
                    <label for="twoFactorToggle" class="form-label">Two-Factor Authentication <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" title="Contact an Administrator for 2FA support."></i></label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="twoFactorToggle" name="twoFactorEnabled" <%= user.twoFAEnabled ? 'checked' : '' %> <%= user.twoFAEnabled ? 'disabled' : '' %>>
                        <label class="form-check-label" for="twoFactorToggle">
                            Enable Two-Factor Authentication
                        </label>
                    </div>
                </div>

                <!-- Conditional block to display QR Code only if 2FA setup is initiated and not completed -->
                <% if (user.twoFAEnabled && user.qrCodeShow) { %>
                    <div class="mb-3">
                        <label>Scan this QR Code with your Authenticator App:</label>
                        <div><img src="<%= user.qrCodeUrl %>" alt="QR Code for 2FA"></div>
                    </div>
                <% } %>

                <button type="submit" class="btn btn-outline-dark" style="width: 100%; padding: 0.75rem 1.25rem;"><i class="fas fa-save me-2"></i>Update Profile</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/edit-profile.js"></script>
    