<!-- layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="preload" href="/font-awesome/css/all.min.css" as="style">
    <link rel="stylesheet" href="/font-awesome/css/all.min.css">
    <link rel="preload" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css" as="style">
    <link href="/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">

    <style>
        @media (max-width: 992px) {
            .navbar-nav {
                margin-top: 20px !important;
            }
        }
        @media (max-width: 768px) {
            .select2-container {
                width: 100% !important; /* Ensures Select2 is responsive on small devices */
            }
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: "Roboto Flex", sans-serif;
            font-optical-sizing: auto;
            font-variation-settings:
                "slnt" 0,
                "wdth" 100,
                "GRAD" 0,
                "XOPQ" 96,
                "XTRA" 468,
                "YOPQ" 79,
                "YTAS" 750,
                "YTDE" -203,
                "YTFI" 738,
                "YTLC" 514,
                "YTUC" 712;
        }

        .roboto {
            font-family: "Roboto Flex", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
                "slnt" 0,
                "wdth" 100,
                "GRAD" 0,
                "XOPQ" 96,
                "XTRA" 468,
                "YOPQ" 79,
                "YTAS" 750,
                "YTDE" -203,
                "YTFI" 738,
                "YTLC" 514,
                "YTUC" 712;
        }

        
        .product-name {
            font-weight: bold;
            margin-left: 0.5rem;
            font-size: 1.1rem;
            /* color: #0056b3; Bootstrap primary color for consistency */
        }
        .category-name {
            font-weight: bold;
            margin-left: 0.5rem;
            font-size: 1.1rem;
            /* color: #0056b3; Using Bootstrap's primary color */
        }
        .form-label {
            font-weight: 500;
            margin-left: 0.5rem;
            font-size: 1.1rem;
            /* color: #0056b3; Using Bootstrap's primary color */
        }
        .transaction-name {
            font-weight: 500;
            margin-left: 0.5rem;
            font-size: 1.1rem;
            /* color: #0056b3; Using Bootstrap's primary color */
        }
        .transaction-type {
            font-weight: bold;
            /* margin-left: 0.5rem; */
            /* font-size: 1.1rem; */
            /* color: #0056b3; Using Bootstrap's primary color */
        }
        .transaction-quantity {
            font-weight: bold;
            /* margin-left: 0.5rem; */
            font-size: 1.1rem;
            /* color: #0056b3; Using Bootstrap's primary color */
        }
        .bg-light-grey {
            background-color: #f0f0f0; /* A light grey f8f9fa color; adjust the color code as needed */
            padding-inline: 2%;
            padding-top: 1%;
            padding-bottom: 1%;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,.1) !important;
        }
        .container {
            flex: 1;
        }
        .rounded-table {
            border-radius: 5px;
            overflow: hidden; /* This ensures the inner elements don't overflow the specified border-radius */
            box-shadow: 0 2px 4px rgba(0,0,0,.1) !important;
        }

        .rounded-table thead tr:first-child th:first-child {
            border-top-left-radius: 5px; /* Top-left corner */
        }

        .rounded-table thead tr:first-child th:last-child {
            border-top-right-radius: 5px; /* Top-right corner */
        }

        .rounded-table tbody tr:last-child td:first-child {
            border-bottom-left-radius: 5px; /* Bottom-left corner */
        }

        .rounded-table tbody tr:last-child td:last-child {
            border-bottom-right-radius: 5px; /* Bottom-right corner */
        }
        .btn-smaller {
            padding: 0.25rem 0.5rem;  /* smaller padding */
            font-size: 0.875rem;      /* smaller text */
            line-height: 1.5;         /* keep line height consistent */
        }

        .table-smaller th, .table-smaller td {
            padding: 0.5rem;          /* reduced padding */
        }
        /* Additional styles for navigation bar */
        .navbar-nav .dropdown-menu {
            margin-top: 0.5rem; /* Adjust spacing above the dropdown */
        }

        .navbar-nav .fa-user-circle { /* Style for user icon */
            margin-right: 0.5rem;
        }

        .nav-link .fas { /* General icon style in navbar links */
            margin-right: 0.4rem;
        }
        .nav-link .fa-sharp { /* General icon style in navbar links */
            margin-right: 0.35rem;
        }

        .bg-dark {
            background-color: #343a40 !important; /* Bootstrap dark background */
        }

        .nav-link {
            color: #ffffff; /* Ensures text is white */
            font-size: 1.1rem;
        }

        .nav-link:hover {
            color: #8bb9fe !important; 
        }

        /* .dropdown-menu {
            background-color: #343a40; 
        } */

        /* .dropdown-item {
            color: #ffffff;
        } */

        .dropdown-item:hover {
            background-color: #dadada;
        }
        
        .dropdown-toggle i {
            transition: transform 0.3s ease !important;
        }
        .dropdown-toggle:hover i {
            transform: scale(1.1) !important;
        }

        .dropdown-toggle:hover {
            color: #8bb9fe !important; 
        }

        .nav-link i {
            transition: transform 0.3s ease !important;
        }
        .nav-link:hover i {
            transform: scale(1.1) !important;
        }

        .nav-link.active {
            color: rgb(108, 117, 125) !important;
            /* background-color: var(--bs-secondary) !important; This makes the active nav link visually distinctive */
            border-radius: 5px !important;
        }

    </style>    
</head>
<body class="bg-light text-dark">
    <header class="px-3 py-2 mb-3 bg-dark border-bottom" style="border-bottom: #fff; box-shadow: 0 2px 4px rgba(0,0,0,.1);">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="margin-right: 2rem;">
                    <i class="fa-brands fa-sharp fa-pied-piper fa-2x"></i> <!-- Custom icon for your brand -->
                    <span class="mx-1 fs-4">Web Portal</span>
                </a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="/" class="nav-link px-3 text-white <%= activePage && activePage === 'home' ? 'active' : '' %>" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home page with dashboard overview">
                            <i class="fa-sharp fa-solid fa-home"></i> Home
                        </a>
                    </li>
                    <li>
                        <a href="/products" class="nav-link px-3 text-white <%= activePage && activePage === 'products' ? 'active' : '' %>" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View and manage product inventory">
                            <i class="fa-sharp fa-solid fa-boxes"></i> Products
                        </a>
                    </li>
                    <li>
                        <a href="/categories" class="nav-link px-3 text-white <%= activePage && activePage === 'categories' ? 'active' : '' %>" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View and manage product categories">
                            <i class="fa-sharp fa-solid fa-tags"></i> Categories
                        </a>
                    </li>
                    <li>
                        <a href="/transactions" class="nav-link px-3 text-white <%= activePage && activePage === 'transactions' ? 'active' : '' %>" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View and manage transactions">
                            <i class="fa-sharp fa-solid fa-exchange-alt"></i> Transactions
                        </a>
                    </li>
                    <li>
                        <a href="/users" class="nav-link px-3 text-white <%= activePage && activePage === 'users' ? 'active' : '' %>" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Manage users">
                            <i class="fa-sharp fa-solid fa-users"></i> Users
                        </a>
                    </li>
                </ul>
    
                <div class="dropdown text-end">
                    <% if (user) { %>
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle fa-xl"></i>
                        </a> 
                        <ul class="dropdown-menu text-small">
                            <li><span class="dropdown-item-text"><%= user.email %></span></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/edit-profile"><i class="fas fa-user-edit me-2"></i>Edit Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
                        </ul>
                    <% } else { %>
                        <a href="/login" class="d-block link-light text-decoration-none">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </header>    
    <div class="container mt-4">
        <%- include(body) %>
    </div>

    <div class="footer bg-light text-center text-lg-start mt-auto">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <span>Made With:</span>
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="fa-brands fa-node-js"></i>
            </a>
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="fa-brands fa-bootstrap"></i>
            </a>
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="fa-solid fa-font-awesome"></i>
            </a>
            <!-- Additional footer links or text -->
            <p class="mb-0">
                <i class="fa-regular fa-copyright fa-sm"></i> <script>document.write(new Date().getFullYear())</script> Anthony Cole | All rights reserved.
            </p>
        </div>
    </div>

    <link rel="preload" href="/main.js" as="script">
    <script src="/main.js"></script>
    <link rel="preload" href="/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js" as="script">
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>    
                
    <script>
        $(document).ready(function() {
            $('select').select2({
                theme: 'bootstrap4'
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.cookie = `timezone=${timezone};path=/;expires=${new Date(Date.now() + 86400000).toUTCString()}`; // Set for 1 day
        });
    </script>
    
                    
</body>
</html>
