<!-- products.ejs -->
<% if (typeof error !== 'undefined' && error) { %>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="fas fa-exclamation-triangle bi flex-shrink-0 me-2" style="font-size: 1.5rem;"></i>
        <div>
            <%- error %> <!-- This will display the error message passed from the server -->
        </div>
    </div>
<% } %>
<% if (typeof success !== 'undefined' && success) { %>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <i class="fas fa-check-circle bi flex-shrink-0 me-2" style="font-size: 1.5rem;"></i>
        <div>
            <%- success %>
        </div>
    </div>
<% } %>

<div class="bg-light-grey mb-4">
    <h1 class="mb-4 display-5">Products</h1>
    <div class="mb-3">
        <a href="/add-record?type=product" class="btn btn-success btn-smaller" data-bs-toggle="tooltip" data-bs-placement="right" title="Add new product to track inventory"><i class="fas fa-plus-circle"></i> Add New Product</a>
    </div>
</div>
<!-- Improved visual cues and list formatting -->
<table class="table table-hover table-striped rounded-table table-smaller">
    <thead class="thead-dark">
        <tr>
            <th>
                Name
                <a href="#" class="sort-link" data-sort="name" data-order="asc" data-bs-toggle="tooltip" data-bs-placement="top" title="Sort by name">
                    <i class="fa-regular fa-circle-sort"></i>
                </a>
            </th>
            <th>
                Description
                <a href="#" class="sort-link" data-sort="description" data-order="asc" data-bs-toggle="tooltip" data-bs-placement="top" title="Sort by description">
                    <i class="fa-regular fa-circle-sort"></i>
                </a>
            </th>
            <th>
                Price
                <a href="#" class="sort-link" data-sort="price" data-order="asc" data-bs-toggle="tooltip" data-bs-placement="top" title="Sort by price">
                    <i class="fa-regular fa-circle-sort"></i>
                </a>
            </th>
            <th>
                Quantity
                <a href="#" class="sort-link" data-sort="quantity" data-order="asc" data-bs-toggle="tooltip" data-bs-placement="top" title="Sort by quantity">
                    <i class="fa-regular fa-circle-sort"></i>
                </a>
            </th>
            <th>
                Category
                <a href="#" class="sort-link" data-sort="category.name" data-order="asc" data-bs-toggle="tooltip" data-bs-placement="top" title="Sort by category">
                    <i class="fa-regular fa-circle-sort"></i>
                </a>
            </th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    
    <tbody id="productsTableBody">
        <% products.forEach(product => { %>
            <tr>
                <td>
                    <button class="btn btn-outline-secondary btn-smaller toggle-button" type="button" data-bs-toggle="collapse" data-bs-target="#transactions<%= product._id %>" aria-expanded="false" aria-controls="transactions<%= product._id %>">
                        <i class="fas fa-chevron-down" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show/hide transactions"></i>
                    </button>
                    <span class="product-name"><%= product.name %></span>
                </td>
                <td><%= product.description %></td>
                <td>$<%= product.price.toFixed(2) %></td>
                <td><span class="transaction-quantity"><%= product.quantity %></span></td>
                <td><%= product.category ? product.category.name : 'Uncategorized' %></td>
                <td><%= product.createdAt ? moment(product.createdAt).format('DD MMM YYYY h:mm A') : 'Not Found' %></td>
                <td>
                    <a href="/products/edit/<%= product._id %>" class="btn btn-outline-info btn-smaller" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit this product record"><i class="fas fa-edit"></i> </a>
                    <a href="#" class="btn btn-outline-danger btn-smaller delete-button" data-name="<%= encodeURIComponent(product.name) %>" data-id="<%= product._id %>" data-bs-toggle="tooltip" data-bs-placement="right" title="Delete this product record"><i class="fas fa-trash-alt"></i> </a>
                </td>
            </tr>
            <tr class="collapse" id="transactions<%= product._id %>">
                <td colspan="6" id="list">
                    <div class="card card-body">
                        <% if (product.transactions && product.transactions.length > 0) { %>
                            <div class="list-group">
                                <% product.transactions.forEach(transaction => { %>
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <strong class="mb-1">Transaction: <%= transaction.type.charAt(0).toUpperCase() + transaction.type.slice(1) %></strong>
                                            <small>Date: <%= moment(transaction.date).format('L LTS') %></small>
                                        </div>
                                        <p class="mb-1">Product: <%= transaction.product ? transaction.product.name : 'Product Deleted' %></p>
                                        <small>Quantity: <%= transaction.quantity %></small>
                                    </a>
                                <% }); %>
                            </div>
                        <% } else { %>
                            <p class="text-muted mb-0">No transactions found.</p>
                        <% } %>
                    </div>
                </td>
            </tr>            
        <% }); %>        
    </tbody>
</table>
<script nonce="<%= nonce %>">
    // Find all elements with class "delete-button"
    const deleteButtons = document.querySelectorAll('.delete-button');

    // Loop through each delete button
    deleteButtons.forEach(button => {
        // Get the product ID and name from data attributes
        const productId = button.getAttribute('data-id');
        const productName = button.getAttribute('data-name');

        // Set the onclick attribute to call confirmDelete function
        button.onclick = () => confirmDelete(productId, productName);
    });
</script>
<script src="/js/products.js"></script>