<!-- users.ejs -->
<% if (typeof error !== 'undefined' && error) { %>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="fas fa-exclamation-triangle bi flex-shrink-0 me-2" style="font-size: 1.5rem;"></i>
        <div><%- error %></div>
    </div>
<% } %>
<% if (typeof success !== 'undefined' && success) { %>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <i class="fas fa-check-circle bi flex-shrink-0 me-2" style="font-size: 1.5rem;"></i>
        <div><%- success %></div>
    </div>
<% } %>

<div class="bg-light-grey mb-4">
    <h1 class="mb-4 display-5">Users</h1>
    <div class="mb-3 d-flex align-items-center">
        <a href="/add-record?type=user" class="btn btn-success btn-smaller me-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Add new user">
            <i class="fas fa-plus-circle"></i> Add New User
        </a>
        <!-- Generate User role Link -->
        <form action="/generate-signup-code" method="post" class="mb-0 me-2">
            <button type="submit" class="btn btn-primary btn-smaller" data-bs-toggle="tooltip" data-bs-placement="right" title="Generate new signup link, only for User role.">
                <i class="fas fa-key"></i> Generate New Signup Link
            </button>
        </form>
    </div>
</div>
<table class="table table-hover table-striped rounded-table table-smaller">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="List of Roles: User, Editor, Admin"></i></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td>
                    <a href="/users/edit/<%= user._id %>" class="btn btn-info btn-smaller" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit this user"><i class="fas fa-edit"></i> Edit</a>
                    <a href="#" class="btn btn-danger btn-smaller" onclick="confirmDelete('<%= user._id %>', '<%= user.email %>')" data-bs-toggle="tooltip" data-bs-placement="right" title="Delete this user"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<script src="/js/users.js"></script>
